{% extends "base.html" %}
{% block title%} Login {%endblock%}

{% block header1 %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Pagina di Login</h1>
        <p class="lead">Si prega di compilare i campi necessari</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Pagina di Login</h1>
        <p class="lead">Si prega di compilare i campi necessari</p>
    </div>

    <!-- FORM DI LOGIN-->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }} <!-- Visualizza il form con il layout di paragrafo -->
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-success btn-block" value="Esegui login">
                    </div>
                </form>
                
            </div>
        </div>
    </div>

</div>
{% endblock %}
