{% extends "base.html" %}

{% block head_plug %}

    <style>
    .like-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like-btn i {
    font-size: 30px; /* Regola la dimensione del cuore */
}

.like-btn i:hover {
    opacity: 0.7; /* Aggiungi un effetto hover */
}
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}



<!-- CONTENT -->
{%block content%}
<div class="container">
<br/>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <div style="text-align: center;">
          <h5 class="card-title">{{product.nome}}</h5>
          <p class="card-text">{{product.description}}</p>

          <p class="card-text">€ {{product.price}}</p>

          <p class="card-text"><small class="text-body-secondary">{{product.supplier}}</small></p>

          <button value="{{ product.id }}" class="btn btn-outline-dark" id="add-cart"> <i class="bi-cart-fill me-1"> Aggiungi al carrello </i></button>

                <form action="{% url 'account:like' product.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="like-btn">
        {% if user in product.likes.all %}
            <!-- Cuore pieno rosso -->
            <i class="fas fa-heart" style="color: red;"></i>
        {% else %}
            <!-- Cuore vuoto con bordo rosso -->
            <i class="far fa-heart" style="color: red;"></i>
        {% endif %}
    </button>
                </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <script>
    //per quando premo il bottone
        $(document).on('click', '#add-cart', function (e){
            e.preventDefault();
            $.ajax({
               type: 'POST',
               url: '{% url 'cart:cart_add' %}',
               data: {
                   product_id: $('#add-cart').val(),
                   csrfmiddlewaretoken: '{{ csrf_token }}',
                   action: 'post',
               },
                success: function (json){
                   //console.log(json)
                    location.reload()
                   document.getElementById("cart_quantity").textContent = json.quantity
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })
    </script>

{%endblock%}