{% extends "base.html" %}

{%block content%}
<div class="container">
<br/>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <div style="text-align: center;">
          <h5 class="card-title">{{product.nome}}</h5>
          <p class="card-text">{{product.description}}</p>

          <p class="card-text">€ {{product.price}}</p>

          <p class="card-text"><small class="text-body-secondary">{{product.supplier}}</small></p>

          <button value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Aggiungi al carrello</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <script>
    //per quando premo il bottone
        $(document).on('click', '#add-cart', function (e){
            e.preventDefault();
            $.ajax({
               type: 'POST',
               url: '{% url 'cart:cart_add' %}',
               data: {
                   product_id: $('#add-cart').val(),
                   csrfmiddlewaretoken: '{{ csrf_token }}',
                   action: 'post',
               },
                success: function (json){
                   //console.log(json)
                    location.reload()
                   document.getElementById("cart_quantity").textContent = json.quantity
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })
    </script>

{%endblock%}