

{% extends "base.html" %}

{% block head_plug %}
<style>
.registration-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Centra il testo nel contenitore */
}


</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Pagina di Registrazione</h1>
        <p class="lead">Si prega di compilare i campi necessari</p>
    </div>
    <!-- FORM DI Registrazione-->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <div class="registration-container" style="justify-content: center">
                    <form method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        <button type="submit">Registrati</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
