{% extends "base.html" %}
{% load static %}

{% block head_plug %}
<style>

    .container {
        display: flex;
        width: 100%;
        margin: 0;
        min-width: 1680px;

    }
    .left {
        flex: 4; /* 4 parti su 5 della larghezza totale */
        margin-left: 0;
        padding: 10px; /* Spazio interno per un aspetto migliore */
        text-align: center; /* Centra il contenuto */
    }
    .right {
        flex: 1; /* 1 parte su 5 della larghezza totale */
        padding: 10px; /* Spazio interno */
        background-color: #f9f9f9; /* Aggiungi uno sfondo per distinguerlo */
        border-left: 1px solid #ddd; /* Aggiungi una linea divisoria */
    }
    .btn-lg {
    display: block;      /* Imposta il bottone come blocco per occupare tutta la larghezza disponibile */
    width: 90%;          /* Imposta la larghezza al 90% */
    margin: 0 auto;      /* Centra il bottone orizzontalmente */
    text-align: center;  /* Centra il testo all'interno del bottone */
}
</style>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}


{%block content%}
<div class="container">
    <div class="left">
           <a href="{% url 'store:home_store' %}"> 
        <img src="{% static 'home.png' %}"   alt="Flying Sneakers" style="width: 100%;"></a>
    </div>
    
    <div class="right">
        <h1 class="text-center">Top Seller</h1>

    <div class="row">
        {% for supplier in suppliers %}
            <div class="row-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            <span>{{ supplier.user }}</span>
                            <span style="color: #0a58ca"><strong>{{ supplier.average_rating|floatformat:2 }}</strong></span>
                        </h5>                         
                        <a href="{% url 'account:displaySupplier' supplier.id%}" class="btn btn-outline-dark btn-lg">Visualizza Profilo</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    </div>

</div>
{%endblock%}